---
import MainLayout from "../../../layouts/MainLayout.astro";
import lodash from "lodash";

const { env } = Astro.locals.runtime;
const { host } = Astro.params;
const page = parseInt(Astro.url.searchParams.get("page") || "1", 10) - 1;

const shost = await env.NEKOMMENT_API.getHost(
    Astro.cookies.get("token")?.value ?? "",
    host ?? "",
);
if (!shost.success && shost.status == 401)
    return Astro.redirect("/login?redirect=" + Astro.url.pathname, 302);
else if (!shost.success) return Astro.redirect("/dash", 302);

const comments = await env.NEKOMMENT_API.getComments(
    Astro.cookies.get("token")?.value ?? "",
    host ?? "",
);
if (!comments.success && comments.status == 401)
    return Astro.redirect("/login?redirect=" + Astro.url.pathname, 302);

const commentChunks = lodash.chunk(comments.data?.reverse(), 10);
const commentList = commentChunks[page];
---

<MainLayout>
    <Fragment slot="nav">
        <a href="/dash">Switch hosts</a>
        <a href="/addhost">Add new host</a>
    </Fragment>

    <h1>{shost.data?.host}</h1>
    <h2>Latest Comments</h2>
    <section class="comments-list">
        {
            comments.data?.length === 0 ? (
                <p>No comments yet!</p>
            ) : (
                commentList.map((c) => (
                    <article>
                        <div class="comment">
                            <div class="comment-content">
                                <p class="small">
                                    {c.pagePath} - {c.address}
                                </p>
                                <h3>
                                    <a href={c.website}>{c.author}</a>
                                </h3>
                                <p>{c.content}</p>
                            </div>

                            <div class="button-list">
                                <button
                                    data-nkm-action="reply"
                                    data-nkm-cmt-id={c.id}
                                >
                                    Reply
                                </button>
                                <button
                                    data-nkm-action="delete"
                                    data-nkm-cmt-id={c.id}
                                >
                                    Delete
                                </button>
                                <button
                                    data-nkm-action="block"
                                    data-nkm-cmt-id={c.id}
                                >
                                    Block user
                                </button>
                            </div>
                        </div>
                        <div class="replies">
                            {c.replies.reverse().map((r) => (
                                <blockquote>
                                    <div class="reply-content">
                                        <p class="small">{r.address}</p>
                                        <h3>
                                            <a href={r.website}>{r.author}</a>
                                        </h3>
                                        <p>{r.content}</p>
                                    </div>
                                    <div class="button-list">
                                        <button
                                            data-nkm-action="reply"
                                            data-nkm-cmt-id={r.id}
                                        >
                                            Reply
                                        </button>
                                        <button
                                            data-nkm-action="delete"
                                            data-nkm-cmt-id={r.id}
                                        >
                                            Delete
                                        </button>
                                        <button
                                            data-nkm-action="block"
                                            data-nkm-cmt-id={r.id}
                                        >
                                            Block user
                                        </button>
                                    </div>
                                </blockquote>
                            ))}
                        </div>
                    </article>
                ))
            )
        }
    </section>
    <div class="pages">
        <p>Pages {page + 1} of {commentChunks.length}</p>
        {
            commentChunks.length > 1 && (
                <a href={"?page=" + (page + 2)}>Next page</a>
            )
        }
        {
            commentChunks.length > 1 &&
                commentChunks.map((c) => {
                    let ch = commentChunks.indexOf(c);

                    return (
                        <a
                            href={"?page=" + (ch + 1)}
                            class={ch === page ? "selected" : ""}
                        >
                            {ch + 1}
                        </a>
                    );
                })
        }
    </div>
</MainLayout>
