---
import MainLayout from "../../layouts/MainLayout.astro";
import HostNav from "../../components/dashboard/HostNav.astro";
import lodash from "lodash";

const { env } = Astro.locals.runtime;
const { host } = Astro.params;

const hostData = await env.NEKOMMENT_API.getHost(
    Astro.cookies.get("token")?.value ?? "",
    host ?? ""
)

if (!hostData.success) return Astro.rewrite('/' + hostData.status || 0)

const comments = await env.NEKOMMENT_API.getComments(
    Astro.cookies.get("token")?.value ?? "",
    host ?? ""
)
---

<MainLayout title={host + ' - Nekomment'}>
    <Fragment slot="nav-mobile">
        <HostNav host={hostData.data} />
    </Fragment>
    <div class="fill-screen">
        <div class="dashboard-container">
            <div class="left">
                <div class="left-nav">
                    <HostNav host={hostData.data} />
                </div>
            </div>
            <div class="right">
                <h1>Comments</h1>
                <div class="comments-container">
                    <div class="comments-list">
                        {comments.data?.reverse().map(c => <div class="card comment">
                            <div class="heading">
                                <h2>{c.author}</h2>
                                <p>{c.createdAt?.toDateString()}</p>
                            </div>
                            <p>{c.content}</p>
                            {c.replies.length > 0 && <div class="replies">
                                {c.replies.reverse().map(r => <blockquote>
                                    <div class="heading">
                                        <h3>{r.author}</h3>
                                        <p>{r.createdAt?.toDateString()}</p>
                                    </div>
                                    <p>{r.content}</p>
                                </blockquote>)}    
                            </div>}
                        </div>)}
                        {comments.data?.length === 0 && <p>No comments yet!</p>}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <style scoped>
        .dashboard-container {
            margin-inline: var(--main-margin);
            margin-top: 12px;
            display: grid;
            grid-template-columns: 300px 1fr;
            gap: 25px;
        }
    
        .left {
            container: left;
        }

        .left-nav {
            position: sticky;
            top: 80px;
        }
    
        .comments-container {
            margin-top: 12px;
    
            .heading {
                display: flex;
                justify-content: space-between;
                align-items: end;
                width: 100%;
            }
    
            .comments-list {
                margin-top: 12px;
                display: grid;
                gap: 12px;
    
                .comment {
                    text-decoration: none;
                    padding: 10px;
                    flex-direction: column;
                    gap: 0;
    
                    .heading {
                        align-items: start;
                    }
    
                    blockquote {
                        flex-direction: column;
                        margin-left: 24px;
                    }
                }
            }
        }
    
        @media screen and (width <= 900px) {
            .dashboard-container {
                grid-template-columns: 1fr;

                .left {
                    display: none;
                }
            }
    
            .comments-container {
                .comments-list {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    </style>
</MainLayout>